.App {
  position: absolute;
  font-family: serif;
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: black;
  height: 400px;
  width: 540px;
}

.sign-up-button-show {
  position: absolute;
  font-family: serif;
  text-align: center;
  background-color: rgb(94, 164, 255);
  border: none;
  padding: 5px;
  color: white;
  transform: translate(-20px, 115px);
  transition: all 100ms linear;
}

.sign-up-button-hide {
  position: absolute;
  font-family: serif;
  text-align: center;
  background-color: rgb(94, 164, 255);
  border: none;
  padding: 5px;
  color: white;
  transform: translate(-20px, 115px);
  transition: all 100ms linear;
  display: none;
}

.sign-in-button-show {
  position: absolute;
  font-family: serif;
  text-align: center;
  background-color: rgb(94, 164, 255);
  border: none;
  padding: 5px;
  color: white;
  transform: translate(-17px, 185px);
  transition: all 100ms linear;
}

.sign-in-button-hide {
  position: absolute;
  font-family: serif;
  text-align: center;
  background-color: rgb(94, 164, 255);
  border: none;
  padding: 5px;
  color: white;
  transform: translate(-17px, 185px);
  transition: all 100ms linear;
  display: none;
}

.sign-in-button-show:hover {
  background-color: rgb(135, 180, 255);
  padding: 6px;
}

.sign-up-button-show:hover {
  background-color: rgb(135, 180, 255);
  padding: 6px;
}

.sign-up-text-show {
  position: absolute;
  font-family: serif;
  text-align: center;
  color: rgb(94, 164, 255);
  transform: translate(135px, 92px);
}

.sign-up-text-hide {
  position: absolute;
  font-family: serif;
  text-align: center;
  color: rgb(94, 164, 255);
  transform: translate(135px, 92px);
  display: none;
}

.sign-in-text-show {
  position: absolute;
  font-family: serif;
  text-align: center;
  color: rgb(94, 164, 255);
  transform: translate(150px, 160px);
}

.sign-in-text-hide {
  position: absolute;
  font-family: serif;
  text-align: center;
  color: rgb(94, 164, 255);
  transform: translate(150px, 160px);
  display: none;
}

.navbar-div {
  text-align: center;
  position: absolute;
  height: 400px;
  width: 540px;
}

.username {
  position: absolute;
  border: none;
  font-family: serif;
  font-size: 16px;
  background-color: rgb(230, 250, 255);
  transform: translate(190px, 100px);
  transition: all 400ms linear;
  width: 200px;
  height: 25px;
}

.username:hover {
  font-size: 18px;
  background-color: rgb(89, 150, 255);
  width: 230px;
  height: 27px;
}

.password {
  position: absolute;
  border: none;
  font-family: serif;
  font-size: 16px;
  background-color: rgb(230, 250, 255);
  transform: translate(190px, 160px);
  transition: all 400ms linear;
  width: 200px;
  height: 25px;
}

.password:hover {
  font-size: 18px;
  background-color: rgb(89, 150, 255);
  width: 230px;
  height: 27px;
}

.login-btn {
  position: absolute;
  transform: translate(250px, 210px);
  padding: 5px;
  border: none;
  background-color: rgb(89, 150, 255);
  color: white;
  transition: all 100ms linear;
}

.login-btn:hover {
  padding: 7px;
  background-color: rgb(130, 170, 255);
}
